* {
    margin: 0;
    padding: 0;
}

.allcontent {
    font-family: Helvetica;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 200px;
    background: #202020;
    min-height: 100vh;
}

.comments-box,
.comment-box-content {
    width: 596px;
    box-sizing: border-box;
    background: radial-gradient(
        75.42% 75.42% at 50% 42.37%,
        rgba(53, 53, 53, 0) 22.92%,
        #7334ea 100%
    );
    filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
}

.container,
.allcontent {
    margin: 0;
    padding: 0;
    list-style: none;
}

.allcontent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.comments-box {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 48px;
}

.comment-box-content {
    padding: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.comment-box-button {
    margin-top: 24px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #bcec30;
    border: none;
    border-radius: 18px;
}
.comment-loading {
    display: none;
}

.row-button {
    display: flex;
    justify-content: flex-end;
}

.comment-box-name {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #202027;
    padding-bottom: 12px;
}

.comment {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    margin-top: 32px;
    margin-bottom: 32px;
}

.count {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.likebutton {
    background: transparent;
    border: none;
    padding-left: 11px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.likebutton:active {
    animation: shake 0.6s ease;
}

@keyframes shake {
    0% {
        transform: rotate(0deg); /* Исходное положение */
    }
    35% {
        transform: rotate(-10deg); /* Покачивание влево */
    }
    70% {
        transform: rotate(10deg); /* Покачивание вправо */
    }
    95% {
        transform: rotate(-10deg); /* Покачивание влево */
    }
    100% {
        transform: rotate(0deg); /* Возвращаем в исходное положение */
    }
}

.like {
    width: 24px;
    height: 24px;
}

.likebutton:hover {
    cursor: pointer;
}
.counter {
    font-size: 26px;
    margin-right: 8px;
}

.-error {
    border: 1px solid red;
    background-color: #ffe6e6;
    transition: border 0.2s ease-in-out;
}

.comment-box {
    margin-bottom: 48px;
}

.comment-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.name-content,
.comment-box-text {
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
}

.name-content {
    width: 300px;
    padding: 11px 22px;
}

.comment-box-text {
    margin-top: 12px;
    padding: 22px;
    resize: none;
}
.link-login {
    border-bottom: 1px solid white;
}
.link-login-text {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    position: relative;
}

.add-form {
    width: 596px;
    box-sizing: border-box;
    background: radial-gradient(
        75.42% 75.42% at 50% 42.37%,
        rgba(53, 53, 53, 0) 22.92%,
        #7334ea 100%
    );
    filter: drop-shadow(0px 20px 67px rgba(0, 0, 0, 0.08));
    border-radius: 20px;
    padding: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.form-title {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
}

.add-form-name {
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 8px;
    border: none;
    width: 500px;
    padding: 11px 22px;
    margin-bottom: 10px;
}

.add-form-registry {
    padding: 20px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    border: none;
}

.add-form-button {
    width: 500px;
    font-size: 24px;
    padding: 10px 20px;
    background-color: #bcec30;
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
.add-form-button-link {
    margin-top: 24px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
